.navCtn{
    display: flex;
    justify-content:center;
    background-color: black;
    padding: 8px;
}
.navCtnSmall{
    display: none;
}
.nav{
    display: flex;
    width: 60%;
    justify-content: space-around;
    align-items: center;
}
.search{
    padding: 5px;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 8px;
}
.searchCtn{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    padding-left: 4px;
}
.navItem{
    color:antiquewhite;
    cursor: pointer;
}
.navItem:hover{
    color: white;
}
@media (max-width: 900px){
    .navCtn{
        display: none;
    }
    .navCtnSmall{
        display: flex;
        padding: 8px;
        width: 100%;
        flex-direction: column;
        background-color:black;
    }
    .nav{
        display: flex;
        width: 100%;
        flex-direction: column;
       
    }
    .navpart1{
        display: flex;
        width: 100%;
        padding: 5px;
        justify-content: space-around;
    }
    .searchCtn{
        width: 90%;
       
    }

}